html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#top-layer {
    height: 100%;
    position: relative;
}

#map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#classifications-layer {
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 110px;
    height: 81px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

#classifications-layer a.active {
    background-color: rgba(0, 0, 0, 0.51);
}

#color-scale-wrapper {
    position: absolute;
    bottom: 120px;
    right: 10px;
    width: 250px;
}

#color-scale-desc {
    padding: 0 5px;
}

#color-scale {
    height: 20px;
    background: linear-gradient(to right,
        rgba(102, 255, 0, .3) 5%,
        rgba(102, 255, 0, .7) 30%,
        rgba(147, 255, 0, .7) 50%,
        rgba(193, 255, 0, .8) 60%,
        rgba(238, 255, 0, .8) 70%,
        rgba(244, 227, 0, .8),
        rgba(249, 198, 0, .9),
        rgba(255, 170, 0, .9),
        rgba(255, 113, 0, .9) 85%,
        rgba(255, 57, 0, 1) 90%
    );
    z-index: 10;
}

a {
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-size: 13px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

#classifications-layer a {
    display: block;
}

#classifications-layer a:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#classifier-select {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 20px;
    width: 85px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}

#classifier-select a.active {
    color: yellow;
}

#keyword-box {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 34px;
    width: 285px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}

#keyword-input {
    border: 1px solid #555;
    width: 200px;
    height: 20px;
    margin: 3px 3px 3px 6px;
    background-color: transparent;
    color: #eee;
    padding: 3px 5px;
}

#keyword-filter {
    border: 1px solid #555;
    height: 27px;
    margin: 3px 6px 3px 3px;
    background: transparent;
    color: #ccc;
}

#loading-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
}
