html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#top-layer {
    height: 100%;
    position: relative;
}

#map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#classifications-layer {
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 110px;
    height: 81px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

#classifications-layer a.active {
    background-color: rgba(0, 0, 0, 0.51);
}

a {
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-size: 13px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

#classifications-layer a {
    display: block;
}

#classifications-layer a:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#classifier-select {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 20px;
    width: 85px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}

#classifier-select a.active {
    color: yellow;
}
